// support for old android browsers < 5.0
.no-cssvhunit header.masthead {
    min-height: 100%;
}

.no-flexbox .navbar-toggler {
    float: right;
}

.no-flexbox .logo-container {
    float: left;
}
