.nav-arrow.circle-icon {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 1.8rem;
    color: $primary;
    background-color: #fff;
    @include dropshadow;
    height: 30px;
    width: 30px;
    line-height: 26px !important;
    display: none;
    @media (min-width: 992px) {
        display: inline-block;
        height: 38px;
        width: 38px;
        line-height: 35px !important;
        font-size: 2rem;
    }

    &:hover {
        border: 2px solid transparent;
        background-color: #fff;
        color: $dark-bg;
        color: $primary;
        @media (min-width: 768px) {
            right: 4px;
        }
    }
}
