// Global styling for this template
body,
html {
    width: 100%;
    height: 100%;
    @include roboto-light;
    color: $text;
}

a {
    color: $green;
    @include transition-all;
    &:hover {
        @include darken-hover($green);
        text-decoration: none;
    }
}

h2,
h3,
h4,
h5,
h6 {
    @include montserrat-light;
}

.bg-primary {
    background-color: $primary;
}

.btn {
    /* pill style buttons */
    border-radius: 999px;
    color: #fff;
    background: -webkit-gradient(linear, left top, right top, from($primary), to($green));
    background: linear-gradient(to right, $primary, $green);
    cursor: pointer;
    text-transform: uppercase;
    @include montserrat-light;
    padding: 0.75em 1.5em;
    border: 0;
    font-size: 0.9rem;

    &:focus,
    &:active,
    &:hover {
        box-shadow: none;
        background: -webkit-gradient(linear, left top, right top, from($primary), to($green));
        background: linear-gradient(to right, $primary, $green);
        background-image: linear-gradient(to right, $primary, $green);
        color: #fff;
    }
}

.btn:not([disabled]):not(.disabled).active,
.btn:not([disabled]):not(.disabled):active {
    background-image: linear-gradient(to right, $primary, $green);
}
