.first-container {
  background-color: $light-bg;

  &.section {
    padding-top: 6rem;
    @media (min-width: 992px) {
      padding-top: calc(6rem + 150px);
    }
  }

  .inner {
    padding-top: 0;
    padding-bottom: 0;
  }

  .primary-p {
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
  @media (max-width: 575px) {
    &.section {
      padding-bottom: 0;
    }
  }
}

.section {
  padding: 6rem 0;
}

.welcome-to {
  @include montserrat-reg;
  color: $primary;
  font-size: 1.5rem;
  position: relative;
  background: $light-bg;
  z-index: 1;
  display: inline-block;

  span {
    background: $light-bg;
    padding: 0 15px;
  }

  &:before {
    content: "";
    position: absolute;
    border-top: 2px solid $primary;
    width: 130%;
    top: 50%;
    left: -15%;
    z-index: -10;
  }
}

.main-heading {
  @include montserrat-semi-bold;
}

.plans-container {
  @include dropshadow();
  position: relative;

  .info-pack-container {
    background-color: #fff;
    width: 100%;
    margin: 0 auto;
    @media (min-width: 992px) {
      width: initial;
      position: absolute;
      left: calc(50% - 118.164px);
      top: calc(50% - 158.797px);
      z-index: 2;
      background-color: transparent;
    }

    img {
      -webkit-box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.15);
      box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.15);
      position: relative;
      top: 0;
      transition: top 0.2s ease-in-out;

      &:hover {
        top: -5px;
      }
    }

    button {
      margin: 1rem auto 3rem;
      display: block;
    }
  }

  .plans-img {
    @media (min-width: 992px) {
      background: url("../assets/plans.jpg") center / cover no-repeat;
    }
  }
}

.dream-home {
  background: url("../assets/dream-home.jpg") center / cover no-repeat;
  color: #fff;
}

.house-land-container {
  background: $green;
  position: relative;
  overflow: hidden;
  z-index: 2;

  .pos-rel {
    background: linear-gradient(47deg, #6ec03a 36%, $green 36%);
  }

  &::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.1;
    background-image: url("../assets/house-land-packages.jpg");
    background-repeat: no-repeat;
    background-position: cover;
  }
}

.design-build-container {
  background: $primary;
  position: relative;
  overflow: hidden;
  z-index: 2;

  .pos-rel {
    background: linear-gradient(47deg, $primary 64%, #00b4a5 64%);
  }

  &::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.1;
    background-image: url("../assets/design-build.jpg");
    background-repeat: no-repeat;
    background-position: cover;
  }
}

.design-build-container,
.house-land-container {
  color: #fff;

  a {
    color: #fff;
    @include half-underline(#fff);
  }

  &::before {
    @media (min-width: 992px) {
      content: none;
      background-image: none;
    }
  }
}
// large devices
@media (min-width: 992px) {
  .inner {
    max-width: 540px;
    padding: 4rem 5rem 4rem 15px;
  }

  .design-build {
    background: url("../assets/design-build.jpg") no-repeat;
    background-size: cover;
  }

  .house-land {
    background: url("../assets/house-land-packages.jpg") no-repeat;
    background-size: cover;
  }
}

.first-container a {
  @include half-underline($green);
}

.pencil,
.ruler {
  display: none;
  z-index: 2;
  position: absolute;
}
/* x-large devices */
@media (min-width: 1400px) {
  .ruler {
    display: inline-block;
    right: 0;
    bottom: 2rem;
  }

  .pencil {
    display: inline-block;
    right: -60px;
    bottom: 40px;
  }
}
