// Styling for the masthead
@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

#masthead {
  position: relative;
  height: 100vh;
  min-height: 100vh;
  background-image: url("../img/hero.jpg");
  background-position: center center;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  @include background-cover;

  hr {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  h1 {
    font-size: 2rem;
  }

  p {
    font-weight: 300;
  }
  @media (min-width: 768px) {
    p {
      font-size: 1.15rem;
    }
  }
  @media (min-width: 992px) {
    height: calc(100vh - 88px);
    min-height: calc(100vh - 88px);
    padding-top: 0;
    padding-bottom: 0;

    h1 {
      font-size: 3rem;
    }
  }
  @media (min-width: 1200px) {
    height: calc(100vh - 100px);
    min-height: calc(100vh - 100px);

    h1 {
      font-size: 4rem;
    }
  }

  .tagline {
    @include yesteryear;
    display: block;
    margin: 2rem 0;
    font-size: 2.2rem;
    line-height: 1;
  }

  .btn {
    border: 2px solid #fff;
    background-color: transparent;
    background: none;
    background-image: none;
    color: #fff;
    font-size: 0.8rem;

    &:hover {
      &::before {
        content: none;
      }
    }
    @media (min-width: 768px) {
      font-size: 1rem;
    }

    &:active,
    &:focus,
    &:hover {
      background-color: rgba(255, 255, 255, 0.9);
      color: #6E8321;
      background-image: none;
    }
  }
  // overwriting bootstrap's default
  .btn:not([disabled]):not(.disabled):active {
    background-image: none;
  }

  .down-arrow {
    height: 30px;
    position: absolute;
    bottom: 4rem;
    left: calc(50% - 15px);
    -webkit-animation: bounce 3s;
    animation: bounce 3s;
    -webkit-animation-iteration-count: 2;
    animation-iteration-count: 2;
    @media (min-width: 768px) {}
    @media (min-width: 992px) {
      left: calc(50% - 20px);
      bottom: 2rem;
    }
    @media (min-width: 1600px) {
      height: 40px;
      bottom: 4rem;
    }
  }
}