// Mixins
@mixin transition-all() {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

@mixin background-cover() {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@mixin montserrat-light() {
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

@mixin montserrat-reg() {
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

@mixin montserrat-semi-bold() {
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

@mixin roboto-light() {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 300;
}

@mixin roboto-medium() {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 500;
}

@mixin yesteryear() {
    font-family: 'Yesteryear', cursive;
}

// darken hover links
@mixin darken-hover($color) {
    &:hover {
        color: darken($color, 15%);
    }
}

@mixin half-underline($color) {
    &.underline {
        position: relative;
        display: inline-block;

        &:hover {
            color: $color;

            &::after {
                transform: scaleX(3.3333);
               
                

            }
        }

        &::after {
            content: "";
            position: absolute;
            top: 110%;
            left: 0;
            border-bottom: 2px solid $color;
            width: 30%;
            transition: 0.2s ease-in-out;
            transform-origin: left 0;
        }
    }
}

@mixin dropshadow() {
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.08);
}
