// Styling for the navbar
#mainNav {
    padding-left: 0;
    padding-right: 0;
    color: #000;
    background-color: transparent;
    top: 0;
    width: 100%;
    z-index: 999;
    -webkit-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    @media (min-width: 992px) {
        height: 100px;
        background-color: #fff;
        @include dropshadow();
    }

    @media (min-width: 1200px) {
        height: 100px;
    } 


    .active .nav-link {
        color: $primary;
        @media (min-width: 1200px) {
            position: relative;
            top: 2px;
            border-bottom: 2px solid $primary;
        }
    }

    .nav-link {
        color: $text;
        text-transform: uppercase;
        font-size: 0.8rem;
        @include roboto-medium;
        text-align: center;
        
        @media (min-width: 992px) and (max-width: 1200px) {
            font-size: 0.75rem;
        }
        @media (min-width: 2000px) {
            text-align: left;
        }
        
        &:hover {
            color: $primary;
        }
    }

    .logo-container {
    
        img {
            max-height: 31px;
            -webkit-transition: all 0.3s ease-in;
            transition: all 0.3s ease-in;
            @media (min-width: 992px) {
                max-height: 62px;
            }
        }
        @media (min-width: 1200px) {
            position: relative;
            top: -31px;

            img {
                max-height: 124px;
            }
        }
    }
    @media (min-width: 992px) {
         margin-left: 0;
        &.shrink {
            max-height: 80px;
            -webkit-transition: height 0.3s ease-in;
            transition: height 0.3s ease-in;
            .logo-container {
                position: static;
            }

            img {
                max-height: 62px;
                width: auto;
                -webkit-transition: all 0.3s ease-in;
                transition: all 0.3s ease-in;
            }
        }
    }

    .contact-btn {
        max-height: 37px;
        margin-left: 0.5rem;
        padding: 0.5em 1.5em;


        .nav-link {
            @include montserrat-light;
            color: #fff;
            padding: 0;
        }
    }

    &.white-bg {
        background-color: #fff !important;
        @include dropshadow;
    }
}

// add extra padding between nav links on mobile
.navbar-collapse .nav-link {
    padding: 1rem 1rem;
}

.navbar-brand {
    padding: 0;
     margin-right: 0;
}

// adding padding in where bootstrap has removed it

@media (max-width: 991px) {
.navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid {
    padding-left: 15px;
    padding-right: 15px;
}
}
