// Styling for the navbar
.mainNav {
    color: #000;
    background-color: transparent;
    top: 0;
    width: 100%;

    @media (min-width: 992px) {
        background-color: #fff;
        @include dropshadow();
    }

    .active .nav-link {
        color: $primary;
        border-bottom: 2px solid $primary;
    }

    .nav-link {
        color: $text;
        text-transform: uppercase;
        font-size: 0.8rem;
        @include roboto-medium;

        &:hover {
            color: $primary;
        }
    }

    .btn .nav-link {
        color: #fff;
        @include montserrat-light;
        padding: 0;
    }

    .logo-container {

        img {
            max-height: 62px;
            transition: all 0.3s ease-in;
        }

        @media (min-width: 992px) {
            position: relative;
            top: -53px;
            img {
                max-height: 124px;
            }
        }
    }

    .shrink {
        position: static;

        img {
            max-height: 62px;
            width: auto;
            transition: all 0.3s ease-in;
        }
    }

    .contact-btn {
        margin-left: 0.5rem;
        padding: 0.5em 1.5em;
    }


}

.fixed-top {

}
