.circle-icon {
    vertical-align: middle;
    text-align: center;
    border-radius: 50%;
    @include transition-all();
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;

}

footer {
    .social {
        margin: 0 0.2rem;
    }
    .circle-icon {
        font-size: 1.2rem;
        height: 45px;
        width: 45px;
        line-height: 45px !important;


        &:hover {
            border: 2px solid transparent;
            background-color: #fff;
            color: $dark-bg;

        }
    }
}

header {
    .social {
        margin: 0 0.3rem;
    }
    .circle-icon {
        height: 35px;
        width: 35px;
        line-height: 35px !important;
        
        &:hover {
            border: 2px solid darken(#fff, 15%);
            color: darken(#fff, 15%);

        }
    }
}
