.top-bar {
    position: absolute;
    color: #fff;
    @include montserrat-semi-bold;
    padding: 1rem;
    vertical-align: middle;
    display: none;
    background: $dark-bg;
    @media (min-width: 992px) {
        display: block;
    }
    display: none;
    @media (min-width: 992px) {
        display: block;
        position: absolute;
        top: 0;
        color: #fff;
        @include montserrat-semi-bold;
        padding: 1rem;
        vertical-align: middle;

        a {
            color: #fff;
            @include darken-hover(#fff);
        }

        .phone {
            margin-right: 2rem;
        }

        .fa-phone {
            margin-right: 0.5rem;
        }
    }
}
